.onboarding {
}

.welcome {
  font-size: 4rem;
}

.name {
  border: none;
  border-bottom: 1px solid;
  width: 100%;
  outline: none;
  font-size: 3rem;
  text-align: center;
}

.focus,
.quotes {
  font-size: 1.5rem;
}

.welcomeMessage {
  font-size: 3rem;
}

.time {
  text-align: center;
}

.timeFormat {
  letter-spacing: 5px;
  font-size: 8rem;
  font-weight: 500;
}
